<article class="search-item">
  <img
    class="search-item__img"
    src="assets/caption.jpg"
    alt="search item image"
  />
  <ul class="search-item__info">
    <li class="search-item__info-item search-item__info-item--views">1000</li>
    <li class="search-item__info-item search-item__info-item--likes">680</li>
    <li class="search-item__info-item search-item__info-item--dislikes">320</li>
    <li class="search-item__info-item search-item__info-item--comments">250</li>
  </ul>
  <h2 class="search-item__title">Kuji Podcast #21</h2>
  <a href="#" class="search-item__link btn">more...</a>
</article>
