<div class="login">
  <div class="container">
    <div class="login__inner">
      <form class="login__form">
        <h2 class="login__title">Login</h2>
        <label class="login__label">
          <div class="login__label-title">Login</div>
          <input class="login__input" type="text" name="login" />
        </label>
        <label class="login__label">
          <div class="login__label-title">Password</div>
          <input class="login__input" type="password" name="password" />
        </label>
        <div class="login__buttons">
          <a class="login__registration">Registration</a>
          <button class="login__button btn" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
