<ul class="statistics">
  <li
    class="statistics__item statistics__item--views"
    title="{{ statistics?.viewCount }}"
  >
    {{ statistics?.viewCount }}
  </li>
  <li
    class="statistics__item statistics__item--likes"
    title="{{ statistics?.likeCount }}"
  >
    {{ statistics?.likeCount }}
  </li>
  <li
    class="statistics__item statistics__item--dislikes"
    title="{{ statistics?.favoriteCount }}"
  >
    {{ statistics?.dislikeCount }}
  </li>
  <li
    class="statistics__item statistics__item--comments"
    title="{{ statistics?.commentCount }}"
  >
    {{ statistics?.commentCount }}
  </li>
</ul>
