.filter-buttons {
  display: flex;

  &__btn {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #2f80ed;
    text-decoration: underline;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
