<section class="item-detailed">
  <div class="container container--big">
    <div class="item-detailed__inner">
      <div class="item-detailed__prev">
        <button class="item-detailed__btn" type="button"></button>
      </div>
      <img
        class="item-detailed__img"
        src="assets/video.jpg"
        alt="item-detailed img"
      />
      <div class="item-detailed__info" [appCheckDate]="''">
        <div class="item-detailed__top">
          <h2 class="item-detailed__title">Kuji Podcast #20</h2>
          <div class="item-detailed__date">Thursday, December 20, 2019</div>
        </div>
        <div class="item-detailed__description">
          <div class="item-detailed__description-title">Description:</div>
          <p class="item-detailed__description-text">
            This Is KuJi Podcast. In this issue, Timur karginov, Andrey Konyaev
            and Nurlan Saburov discuss the end of 2018: Khabib's fight with
            McGregor, Kokorin and Mamayev, Urgant's show on channel One, the
            economic crisis and gifts for loved ones.
          </p>
        </div>
        <div class="item-detailed__statistics">
          <app-item-statistics
            [statistics]="{
              viewCount: '33265',
              likeCount: '1173',
              dislikeCount: '26',
              favoriteCount: '0',
              commentCount: '170'
            }"
          ></app-item-statistics>
        </div>
      </div>
    </div>
  </div>
</section>
