.settings-button {
  width: 24px;
  height: 24px;
  padding: 4px;
  background-image: url(/assets/icons/settings-button.svg);
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
}
