<form class="card-form">
  <h2 class="card-form__title">Create new card</h2>
  <label for="title" class="card-form__label">Title</label>
  <input id="title" class="card-form__input" type="text" />
  <label for="description" class="card-form__label">Description</label>
  <input id="description" class="card-form__input" type="text" />
  <label for="img" class="card-form__label">Img</label>
  <input id="img" class="card-form__input" type="text" />
  <label for="video-link" class="card-form__label">Link video</label>
  <input id="video-link" class="card-form__input" type="text" />
  <div class="card-form__button-box">
    <button class="card-form__button btn" type="submit">Create card</button>
  </div>
</form>
